$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";

@import 'colors';

$brand-primary: $mbf_blue;

html, body {
	min-height: 100vh;	
}

.main_content {
	padding: 30px;	
}

.formSigninContainer {
	display: flex;	
	justify-content: center;
    min-height: 90vh;
}

.formSigninInContainer {
	background-color: $mbf_lightgray;
	flex-grow: 0.25;
	align-self: center;
	padding: 2em;
	border-radius: 4px; 
	border: 2px solid $loginFormBorderColor;
}

.top_row {
	background-color: #aaa;
}

.session_info {
	text-align: right;
}

.logeduser {
	font-weight: bold;
	text-shadow: 2px 2px 1px #ff8;
}

/* $brand-primary: darken(#ff0000, 10%);
$border-radius-base: 0px !default;
$border-radius-large: 0px !default;
$border-radius-small: 0px !default;
 */

@import '~bootstrap-sass/assets/stylesheets/bootstrap';
